*,
*::before,
*::after {
  box-sizing: border-box;
}

#gallery {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery__item {
  flex-basis: calc((100% - 30px * 2) / 3);
  align-self: baseline;
  margin-right: 30px;
  margin-bottom: 30px;
}

.gallery__item:nth-child(3n) {
  margin-right: 0;
}

.gallery__image {
  display: block;
  width: 100%;
  height: auto;
}
